<div id="people-content" class="content">

	<h1>The Wedding Party</h1>

		<div id="people-container">
			<div class="people-row">

				<div class="person">
					<%= image_tag "keith.png" %>
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Keith<br>Fong</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<%= image_tag "edward.png" %>
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Edward<br>Kao</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<%= image_tag "josh.png" %>
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Josh<br>Fan</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<%= image_tag "justin.png" %>
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Justin<br>Wong</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<%= image_tag "matt.png" %>
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Matt<br>Whang</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="people-row">

				<div class="person">
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Janet<br>Park</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Abby<br>Koltun</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Diana<br>Zheng</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Gloria<br>Choi</h2>
						</div>
					</div>
				</div>

				<div class="person">
					<div class="overlay-hover">
						<div class="overlay-title">
							<h2>Sharon<br>Alamsjah</h2>
						</div>
					</div>
				</div>
			</div>
		</div>


</div>
