<div id="main-content" class="content">

	<div id="password-content">

		<h1>Speak, friend, and enter</h1>

		<% flash.each do |message_type, message| %>
			<div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>

		<%= form_for(:session, url: login_path) do |f| %>

			<%= f.hidden_field :name, { value: "Guest" } %>

			<%= f.password_field :password %>

			<%= f.submit "Enter", class: "btn" %>	

		<% end %>
	</div>
</div>
