<!DOCTYPE html>
<html>
<head>
  <title>She Said Jyess</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'corn_favicon.ico' %>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main-container">
		<%= yield %>
	</div>
	
	<div id="nav">
		<div id="tabs-container">
			<div>
				<%= link_to stories_path, class: "tab" do %>
					<div class="image story-tab"></div>
				<% end %>

				<%= link_to root_path, class: "tab" do %>
					<div class="image home-tab"></div>
				<% end %>

				<%= link_to people_path, class: "tab" do %>
					<div class="image people-tab"></div>
				<% end %>
			</div>

			<div>
				<%= link_to events_path, class: "tab" do %>
					<div class="image events-tab"></div>
				<% end %>

				<%= link_to rsvp_path, class: "tab" do %>
					<div class="image rsvp-tab"></div>
				<% end %>

				<%= link_to registry_path, class: "tab" do %>
					<div class="image registry-tab"></div>
				<% end %>
			</div>
		</div>
	</div>

	<div id="footer">

	</div>

</body>
</html>
